language: python
sudo: required

cache:
  pip: true
  directories:
    - here

before_cache:
  - rm -rf $HOME/.cache/pip/log

env:
  global:
    - NGINX_VERSION=1.9.15
    - JOBS=3
  matrix:
    # - |
    #   LUA="lua 5.1"
    #   LUA_PATH="lua51"
    #   LUA_LIB_NAME="liblua51.a"
    #   RDB_VER="http://download.rethinkdb.com/apt/pool/precise/main/r/rethinkdb/rethinkdb_2.3.0~0precise_amd64.deb"
    # - |
    #   LUA="lua 5.2"
    #   LUA_PATH="lua52"
    #   LUA_LIB_NAME="liblua52.a"
    #   RDB_VER="http://download.rethinkdb.com/apt/pool/precise/main/r/rethinkdb/rethinkdb_2.3.0~0precise_amd64.deb"
    # - |
    #   LUA="lua 5.3"
    #   LUA_PATH="lua53"
    #   LUA_LIB_NAME="liblua53.a"
    #   RDB_VER="http://download.rethinkdb.com/apt/pool/precise/main/r/rethinkdb/rethinkdb_2.3.0~0precise_amd64.deb"
    - |
      LUA="luajit 2.0"
      LUA_PATH="jit20"
      LUA_LIB_NAME="libluajit-5.1.a"
      RDB_VER="http://download.rethinkdb.com/apt/pool/precise/main/r/rethinkdb/rethinkdb_2.3.0~0precise_amd64.deb"
    # - |
    #   LUA="luajit 2.1"
    #   LUA_PATH="jit21"
    #   LUA_LIB_NAME="libluajit-5.1.a"
    #   RDB_VER="http://download.rethinkdb.com/apt/pool/precise/main/r/rethinkdb/rethinkdb_2.3.0~0precise_amd64.deb"

before_install:
  - sudo apt-get update
  - sudo apt-get install -qq -y cpanminus
  - sudo cpanm --notest Test::Nginx > build.log 2>&1 || (cat build.log && exit 1)
  - pip install hererocks
  - hererocks here/$LUA_PATH -r^ --$LUA
  - ln here/$LUA_PATH/lib/$LUA_LIB_NAME here/$LUA_PATH/lib/liblua.a
  - source here/$LUA_PATH/bin/activate
  - export LUA_INCLUDE_DIR=$PWD/here/$LUA_PATH/include
  - export LUA_CMODULE_DIR=$PWD/here/$LUA_PATH/lib/lua/
  - export LUA_MODULE_DIR=$PWD/here/$LUA_PATH/share/lua/
  - export LUA_BIN_DIR=$PWD/here/$LUA_PATH/bin
  - git clone https://github.com/openresty/lua-cjson.git
  - cd lua-cjson && make -j$JOBS && sudo make install && cd ..
  - git clone https://github.com/openresty/lua-nginx-module.git
  - wget http://nginx.org/download/nginx-${NGINX_VERSION}.tar.gz
  - tar xzf nginx-${NGINX_VERSION}.tar.gz
  - if [ ${LUA:3:6} == "jit" ]; then export LUAJIT_LIB=$PWD/here/$LUA_PATH/lib; export LUAJIT_INC=$PWD/here/$LUA_PATH/include; else export LUA_LIB=$PWD/here/$LUA_PATH/lib; export LUA_INC=$PWD/here/$LUA_PATH/include; fi
  - cd nginx-${NGINX_VERSION}/
  - ./configure --with-debug --with-cc-opt="-DDEBUG_MALLOC" --add-module=../lua-nginx-module > build.log 2>&1 || (cat build.log && exit 1)
  - make -j$JOBS > build.log 2>&1 || (cat build.log && exit 1)
  - export PATH=$PATH:`pwd`/objs
  - cd .. # previous line changes cwd
  - luarocks install luacheck
  - luacheck src
  # Fix from https://github.com/leafo/lapis/issues/6
  - luarocks install https://gist.githubusercontent.com/starius/b20d3e63929ae678c857/raw/4b4499f442337b6f577422364358590bd00c9d48/luacrypto-0.3.2-2.rockspec

install:
  - luarocks build --only-deps lua-reql-1.0.1-0.rockspec

before_script:
  - wget $RDB_VER
  - ar x *.deb
  - tar xvzf data.tar.gz
  - ./usr/bin/rethinkdb --daemon
  - luarocks install busted
  - luarocks install luacov-coveralls

script:
  - busted --exclude-tags="expensive"
  - prove -r t

after_success:
  - luacov-coveralls
